# Express Server Port (Defaults to 5001)
PORT=5001

# MongoDB Connection URI
MONGODB_URI=mongodb+srv://srujanakulawar_db_user:tcU31htRRb8UYg5V@swastiksarees.xbuihtq.mongodb.net/swastiksarees?retryWrites=true&w=majority&appName=swastiksarees

# Supabase Configurations
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Cloudinary Configurations
CLOUDINARY_CLOUD_NAME=dt172nx3g
CLOUDINARY_API_KEY=449885275677713
CLOUDINARY_API_SECRET=lbmlel900z1gSA6D0USQs6BdGL8

# Anthropic API Key (AI features)
VITE_ANTHROPIC_API_KEY=

# Razorpay Configurations (Payments)
VITE_RAZORPAY_KEY_ID=
RAZORPAY_SECRET=
